@{
    ViewData["Title"] = "Erfarenhet";
}
<div class="text-center">
    <h1 class="display-4">Erfarenhet</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at congue ipsum, ut ullamcorper nisi. Suspendisse nec ex consequat, aliquet risus sed, ornare odio. Donec maximus lacinia nibh, non placerat lorem posuere nec. Mauris sit amet magna et dolor rutrum molestie eget sollicitudin erat. Pellentesque id tincidunt leo. Phasellus et est lacus. Quisque magna purus, elementum ac ligula at, suscipit feugiat tellus. Fusce a erat eget elit sagittis laoreet ac quis turpis. Nunc hendrerit cursus sem. Etiam pellentesque iaculis felis ac imperdiet. Vivamus ligula augue, consequat vitae enim vel, volutpat blandit orci. Etiam consequat nisi vel enim eleifend, et consectetur orci venenatis. Maecenas sit amet ipsum non quam condimentum tristique. Nulla nec velit ac lacus rutrum posuere iaculis at mauris. Suspendisse auctor in tellus eu ullamcorper.

        Cras nec cursus purus, at hendrerit dui. Vestibulum scelerisque auctor finibus. Morbi quis pulvinar ex. Nulla lobortis tempor ipsum, et dapibus tortor aliquet in. Fusce tincidunt non nunc ut varius. Duis metus nulla, posuere ac faucibus vel, porta non justo. Donec fringilla mauris dui, a ultrices massa fringilla a. Donec blandit scelerisque pellentesque. Praesent vitae ipsum faucibus, molestie purus eu, finibus sem. Aliquam faucibus nibh at magna convallis, et interdum orci tristique. Duis dapibus, mi nec lacinia tempus, erat purus aliquet erat, vitae bibendum orci ante a metus. Duis a augue sit amet sapien malesuada consequat. Nam volutpat dui elit, ac condimentum nunc auctor vel. Pellentesque blandit dolor sed metus tristique, id gravida nulla feugiat. Suspendisse tincidunt rhoncus nunc, id mattis orci consequat in.
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>

</div>