@{
    ViewData["Title"] = "Erfarenhet";
}
<div class="text-center" style="max-width: 80rem;">
    <h1 class="display-4 mt-3">Erfarenhet</h1>
    <i class="fas fa-2x fa-briefcase mb-2"></i>
    <p class="mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at congue ipsum, ut ullamcorper nisi. Suspendisse nec ex consequat, aliquet risus sed, ornare odio. Donec maximus lacinia nibh, non placerat lorem posuere nec. Mauris sit amet magna et dolor rutrum molestie eget sollicitudin erat.
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">Rimaster Development</div>
                <div class="card-body">
                    <h4 class="card-title">Maskinoperatör</h4>
                    <p><small>2016-2020</small></p>
                    <p class="card-text">Lorem ipsum, Lorem ipsum.</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">Svensk Cater</div>
                <div class="card-body">
                    <h4 class="card-title">Lagermedarbetare</h4
                        <p><small>2013-2016</small></p>
                    <p class="card-text">Lorem ipsum, Lorem ipsum.</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">ASKO Norge</div>
                <div class="card-body">
                    <h4 class="card-title">Lagermedarbetare</h4>
                    <p><small>2012-2013</small></p>
                    <p class="card-text">Lorem ipsum, Lorem ipsum.</p>
                </div>
            </div>
        </div>

    </div>

</div>