@{
    ViewData["Title"] = "Välkommen!";
}

<div class="text-center jumbotron">
    <h1 class="display-4 mt-3">Välkommen till mitt CV!</h1>
    <p>
        Klicka dig runt med hjälp av länkarna här ovanför för att ta dig runt i mitt CV.
    </p>
</div>
