@{
    ViewData["Title"] = "Om mig";
}

<div class="text-center">
    <h1 class="display-4 mt-3">Om mig</h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/17/48/female-1836089_960_720.jpg" class="mb-2">
    <p class="lead">Mitt namn är Frida Lindberg</p>
    <p>
        Suspendisse nec ex consequat, aliquet risus sed, ornare odio. Donec maximus lacinia nibh, non placerat lorem posuere nec. Mauris sit amet magna et dolor rutrum molestie eget sollicitudin erat. Pellentesque id tincidunt leo. Phasellus et est lacus. Quisque magna purus, elementum ac ligula at, suscipit feugiat tellus. Fusce a erat eget elit sagittis laoreet ac quis turpis. Nunc hendrerit cursus sem. Etiam pellentesque iaculis felis ac imperdiet. Vivamus ligula augue, consequat vitae enim vel, volutpat blandit orci. Etiam consequat nisi vel enim eleifend, et consectetur orci venenatis. Maecenas sit amet ipsum non quam condimentum tristique. Nulla nec velit ac lacus rutrum posuere iaculis at mauris. Suspendisse auctor in tellus eu ullamcorper.
    </p>
</div>

